MAPBOX_ACCESS_TOKEN=pk.test.mock-token-for-testing-purposes
MAPBOX_STYLE=mapbox://styles/mapbox/streets-v11
VITE_MAPBOX_ACCESS_TOKEN=pk.test.mock-token-for-testing-purposes
VITE_MAPBOX_STYLE=mapbox://styles/mapbox/streets-v11
